@model IEnumerable<SimpleBlog.Models.UsersModel>

@{
    ViewBag.Title = "Список пользователей";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Создать нового пользователя", "Create")
</p>
<table class="table">
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Возраст</th>
        <th>Есть ли машина</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(userItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(userItem => item.surname)
        </td>
        <td>
            @Html.DisplayFor(userItem => item.age)
        </td>
        <td>
            @Html.DisplayFor(userItem => item.isHasCar)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Детали", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Удалить", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
